.active{
  background-color: tomato;
  color: white;
  font-style : italic
}
*{
  text-decoration: none;
}
ul{
  background-color: rgb(215, 241, 232);
}
li{
 display: inline-block;
 margin-right: 50px;
}