.active{
  background-color: tomato;
  color: white;
  font-style : italic
}
*{
  text-decoration: none;
}
.navBar{
  background-color: rgb(215, 241, 232);
  margin: 0 auto;
  width: 400px;
 text-align: center;
}
li{
 display: inline-block;
 margin-right: 50px;
   
}